@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to top left, #28b487, #7dd56f);
}

h2 {
    position: absolute;
    top: 10px;
}

.range-container {
    position: relative;
}

input[type="range"] {
    width: 300px;
    margin: 18px 0;
    -webkit-appearance: none;
    background: transparent;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"] + label {
    background-color: #7dd56f;
    position: absolute;
    top: -25px;
    left: 110px;
    width: 80px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: purple;
    border-radius: 4px;
    width: 100%;
    height: 10px;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid purple;
    margin-top: -7px;
    cursor: pointer;
}

input[type="range"]::-ms-track {
    background-color: purple;
    border-radius: 4px;
    width: 100%;
    height: 10px;
    cursor: pointer;
}

input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid purple;
    margin-top: -7px;
    cursor: pointer;
}
