@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900;1,100..900") * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f1f1f1;
}

.magic {
    background-color: #111;
    color: #fff;
    font-family: "Poppins";
    font-weight: 600;
    border: 0;
    border-radius: 3px;
    font-size: 18px;
    padding: 12px 20px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    letter-spacing: 1px;
    box-shadow: 0 3px rgba(1, 1, 1, 0.5);
    z-index: 100;
}

.magic:focus {
    outline: none;
}

.magic:active {
    box-shadow: none;
    transform: translateY(2px);
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    height: 500px;
    width: 500px;
    transition: 0.4s ease;
}

.boxes.big {
    width: 600px;
    height: 600px;
}

.boxes.big .box {
    transform: rotateZ(360deg);
}

.box {
    background: url("https://images.unsplash.com/photo-1713325802297-f790fd9bba09?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 125px;
    width: 125px;
    position: relative;
    background-size: 500px 500px;
    background-repeat: no-repeat;
    transition: 0.4s ease;
}

.box::after {
    content: "";
    background-color: #222;
    position: absolute;
    top: 8px;
    right: -15px;
    height: 100%;
    width: 15px;
    transform: skewY(45deg);
}
.box::before {
    content: "";
    background-color: #000;
    position: absolute;
    bottom: -15px;
    left: 8px;
    height: 15px;
    width: 100%;
    transform: skewX(45deg);
}
