@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: #f4f4f4;
    padding: 10px;
}

.default-heading {
    font-size: 50px;
    line-height: 1.3;
    width: 100%;
    padding: 30px;
    text-align: center;
    color: white;
}

.testimonials-container {
    background-color: #476ce4;
    color: #fff;
    border-radius: 15px;
    margin: 20px auto;
    padding: 50px 80px;
    max-width: 768px;
    position: relative;
}

.text-container {
    position: relative;
    padding: 20px 0;
}

.fa-quote {
    color: rgba(255, 255, 255, 0.3);
    font-size: 28px;
    position: absolute;
    top: 70px;
    margin: 20px 0;
}

.fa-quote-right {
    left: -40px;
    top: 0;
}
.fa-quote-left {
    right: -40px;
    bottom: 0;
}

.testimonial {
    line-height: 20px;
    text-align: justify;
    padding: 20px 0;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user .user-image {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    object-fit: cover;
}

.user .user-details {
    margin-left: 10px;
}

.username {
    margin: 0;
}

.user .role {
    font-weight: normal;
    margin: 10px 0;
}

.progress-bar {
    background-color: #fff;
    height: 4px;
    width: 100%;
    animation: grow 10s linear infinite;
    transform-origin: left;
}

@keyframes grow {
    0% {
        transform: scaleX(0);
    }
}

@media (max-width: 768px) {
    .testimonial-container {
        padding: 20px 30px;
    }

    .fa-quote {
        display: none;
    }
}
